body {
  background: #f0f0f0;
}

body, h1, p {
  font-family: "Futura";
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #222222;
}

.stack {
  padding: 0px;
}

.stack > * {
  display: inline-block;
  padding: 10px;
}

.stack-item {
  border: 3px solid white;
  margin: 3px;
}

.content-wrapper {
  margin-top: 40px;
  margin-left:  20%;
  margin-right:  20%;
}

.vimeo-player {
  width: 500px;
  height: 313px;
}

.example-img.large {
  width: 80%;
}

.example-img.small {
  width: 50%;
}

.img-description {
  opacity: .7;
}

.description {
  opacity: 1;
  margin: 2.5%;
}

.row:before {
  display: table;
  content: " ";
}

footer {
  clear: both;
}

.row:after {
  display: table;
  content: " ";
}

h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 0 0 20px 0;
}

.lead {
  font-size: 21px;
  font-weight: 200;
  margin-bottom: 20px;
}

p {
  margin: 0 0 10px;
}

a {
  color: #5555cc;
  text-decoration: none;
}

h3 {
  text-decoration: underline;
}

@media screen and (max-width: 966px) {

  .content-wrapper {
    max-width: 90%;
    margin: 0 5%;
    float: none;
  }
}

@media screen and (max-width: 500px) {
  .vimeo-player {
    width: 300px;
    height: 188px;
  }
}

